body {
    background: linear-gradient(#0077b6ff, transparent); /* Define a cor de fundo */
    color: white; /* Define a cor do texto */
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

@font-face {
    font-family: 'CoolveticaRg-Regular.woff';
    src: url('../src/assets/fonts/LaBelleAurore.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.chatbot-message {
    color: #FFFFFF !important; /* Força a cor do texto do chatbot */
}

.user-message {
    color: #FFFFFF !important; /* Força a cor do texto do usuário */
}

.user-input {
    background-color: #333333 !important; /* Força a cor de fundo da caixa de entrada do usuário */
    color: #FFFFFF !important; /* Força a cor do texto da caixa de entrada do usuário */
}

.chatbot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}